{extend name="base" /}
{block name="css"}
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/wechat.css">
<style>
    .mobile-preview { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none;}
    .menu-editor { left: 317px; display: block; max-width: 643px; width: 740px; height: 580px; border-radius: 0; border-color: #e7e7eb; box-shadow: none}
    .menu-editor .arrow { top: auto !important; bottom: 15px}
    .menu-editor .popover-title { margin-top: 0}
    .menu-delete { font-weight: 400; font-size: 12px;}
    .menu-submit { margin-right: 10px}
    .popover{z-index: 10}
    .popover.right {margin-left: 20px;margin-top: 10px;}
    .parent-menu{cursor: move;}
    .layui-elem-quote{margin:5px 10px 0px 10px !important;max-width: 1066px;}
</style>
{/block}
{block name='body'}
<blockquote class="layui-elem-quote">
    可拖动菜单进行排序
</blockquote>
<div class='mobile-preview pull-left'>
    <div class='mobile-header'>{:config('site_title')}</div>
    <div class='mobile-body'></div>
    <ul class='mobile-footer'>
        {foreach $list as $menu}
        <li class="parent-menu">
            <a><i class="icon-sub hide"></i> <span data-type="{$menu.type}" data-content="{$menu.content}">{$menu.name}</span></a>
            <div class="sub-menu text-center hide">
                <ul>
                    {if empty($menu['sub']) eq false}
                    {foreach $menu.sub as $submenu}
                    <li class="child-menu">
                        <a class="bottom-border"><span data-type="{$submenu.type}" data-content="{$submenu.content}">{$submenu.name}</span></a>
                    </li>
                    {/foreach}
                    {/if}
                    <li  class="menu-add"><a href="javascript:"><i class="icon-add"></i></a></li>
                </ul>
                <i class="arrow arrow_out"></i>
                <i class="arrow arrow_in"></i>
            </div>
        </li>
        {/foreach}
        <li class="parent-menu menu-add">
            <a><i class="icon-add"></i></a>
        </li>
    </ul>
</div>
<div class="pull-left" style="position:absolute">
    <div class="popover fade right up in menu-editor">
        <div class="arrow"></div>
        <h3 class="popover-title">
            菜单名称
            <a  class="layui-btn layui-btn-primary layui-btn-xs pull-right menu-delete"><i class="fa fa-times" aria-hidden="true">删除</i></a>
        </h3>
        <div class="popover-content menu-content"></div>
    </div>
</div>
<div class="hide menu-editor-parent-tpl">
    <form class="form-horizontal layui-form">
        <p>已添加子菜单，仅可设置菜单名称。</p>
        <div class="form-group" style="margin-top:50px">
            <label class="col-xs-3 control-label">菜单名称</label>
            <div class="col-xs-6">
                <input name="menu-name" class="form-control input-sm">
                <span class="help-block m-b-none">字数不超过5个汉字或16个字母</span>
            </div>
        </div>
    </form>
</div>
<div class="hide menu-editor-content-tpl">
    <form class="form-horizontal">
        <div class="form-group" style="margin-top:50px">
            <label class="col-xs-3 control-label">菜单名称</label>
            <div class="col-xs-6">
                <input name="menu-name" class="form-control input-sm layui-input">
                <span class="help-block m-b-none">字数不超过13个汉字或40个字母</span>
            </div>
        </div>
        <div class="form-group" style="margin-top:30px">
            <label class="col-xs-3 control-label">菜单内容</label>
            <div class="col-xs-8">
                <div class="row">
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="system"> 内置菜单
                    </label>
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="text"> 文字消息
                    </label>
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="keys"> 关键字
                    </label>
                    <!--                    <label class="col-xs-5 font-noraml">
                                            <input class="cuci-radio" type="radio" name="menu-type" value="image"> 图片
                                        </label>-->
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="view"> 跳转网页
                    </label>
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="event"> 事件功能
                    </label>
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="miniprogram"> 小程序
                    </label>
                    <label class="col-xs-5 font-noraml">
                        <input class="cuci-radio" type="radio" name="menu-type" value="customservice"> 多客服
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <div class="col-xs-10 col-xs-offset-1 editor-content-input row" style="border-top: 1px #f2f2f2 solid;padding-top: 10px;"></div>
        </div>
    </form>
</div>
<div style="clear:both"></div>
<div style="width:830px;padding-top:40px;margin-bottom: 10px;text-align:center">
    <button class="layui-btn menu-submit">保存发布</button>
    <button onclick="cancel('{:url(\'cancel\')}')" class="layui-btn layui-btn-danger">取消发布</button>
</div>
{/block}

{block name="script"}
<script src="__JS__/drag-arrange.js"></script>
<script>
        $(function () {
            $('.parent-menu').arrangeable();
            /**
             * 菜单事件构造方法
             * @returns {menu.index_L2.menu}
             */
            var menu = function () {
                this.version = '1.0';
                this.$btn;
                this.listen();
                this.mmove();
            };

            /**
             * 控件默认事件
             * @returns {undefined}
             */
            menu.prototype.listen = function () {
                var self = this;
                $('.mobile-footer').on('click', 'li a', function () {
                    self.$btn = $(this);
                    self.$btn.parent('li').hasClass('menu-add') ? self.add() : self.checkShow();
                }).find('li:first a:first').trigger('click');
                $('.menu-delete').on('click', function () {
                    layer.open({
                        shade: false,
                        content: '确定删除？',
                        btn: ['确定', '取消'],
                        yes: function (index) {
                            self.del();
                            layer.close(index);
                        }
                    });
                });
                $('.menu-submit').on('click', function () {
                    self.submit();
                });
            };

            /**
             * 添加一个菜单
             * @returns {undefined}
             */
            menu.prototype.add = function () {
                var $add = this.$btn.parent('li'), $ul = $add.parent('ul');
                if ($ul.hasClass('mobile-footer')) { /* 添加一级菜单 */
                    var $li = $('<li class="parent-menu"><a class="active"><i class="icon-sub hide"></i> <span>一级菜单</span></a></li>').insertBefore($add);
                    this.$btn = $li.find('a');
                    $('<div class="sub-menu text-center hide"><ul><li class="menu-add"><a><i class="icon-add"></i></a></li></ul><i class="arrow arrow_out"></i><i class="arrow arrow_in"></i></div>').appendTo($li);
                } else { /* 添加二级菜单 */
                    this.$btn = $('<li class="child-menu"><a class="bottom-border"><span>二级菜单</span></a></li>').prependTo($ul).find('a');
                }
                this.checkShow();
            };
            /**
             * 数据校验显示
             * @returns {unresolved}
             */
            menu.prototype.checkShow = function () {
                var $li = this.$btn.parent('li'), $ul = $li.parent('ul');
                /* 选中一级菜单时显示二级菜单 */
                if ($li.hasClass('parent-menu')) {
                    $('.parent-menu .sub-menu').not(this.$btn.parent('li').find('.sub-menu').removeClass('hide')).addClass('hide');
                }

                /* 一级菜单添加按钮 */
                var $add = $('li.parent-menu:last');
                $add.siblings('li').size() >= 3 ? $add.addClass('hide') : $add.removeClass('hide');
                /* 二级菜单添加按钮 */
                $add.siblings('li').map(function () {
                    var $add = $(this).find('ul li:last');
                    $add.siblings('li').size() >= 5 ? $add.addClass('hide') : $add.removeClass('hide');
                });
                /* 处理一级菜单 */
                var parentWidth = 100 / $('li.parent-menu:visible').size() + '%';
                $('li.parent-menu').map(function () {
                    var $icon = $(this).find('.icon-sub');
                    $(this).width(parentWidth).find('ul li').size() > 1 ? $icon.removeClass('hide') : $icon.addClass('hide');
                });
                /* 更新选择中状态 */
                $('.mobile-footer a.active').not(this.$btn.addClass('active')).removeClass('active');
                this.renderEdit();
                this.mmove();
                return $ul;
            };
            /**
             * 拖动菜单排序
             */
            menu.prototype.mmove = function () {
                $('.parent-menu').arrangeable();
                $('.child-menu').arrangeable();
            }
            /**
             * 删除当前菜单
             * @returns {undefined}
             */
            menu.prototype.del = function () {
                var $li = this.$btn.parent('li'), $ul = $li.parent('ul');
                var $default = function () {
                    if ($li.prev('li').size() > 0) {
                        return $li.prev('li');
                    }
                    if ($li.next('li').size() > 0 && !$li.next('li').hasClass('menu-add')) {
                        return $li.next('li');
                    }
                    if ($ul.parents('li.parent-menu').size() > 0) {
                        return $ul.parents('li.parent-menu');
                    }
                    return $('null');
                }.call(this);
                $li.remove();
                this.$btn = $default.find('a:first');
                this.checkShow();
            };
            /**
             * 显示当前菜单的属性值
             * @returns {undefined}
             */
            menu.prototype.renderEdit = function () {
                var $span = this.$btn.find('span'), $li = this.$btn.parent('li'), $ul = $li.parent('ul');
                var $html = '';
                var $menuName = '';
                if ($li.find('ul li').size() > 1) { /*父菜单*/
                    $html = $($('.menu-editor-parent-tpl').html());
                    $html.find('input[name="menu-name"]').val($span.text()).on('change keyup', function () {
                        $span.text(this.value || ' ');
                    });
                    $('.menu-editor .menu-content').html($html);
                } else {
                    $html = $($('.menu-editor-content-tpl').html());
                    $menuName = $html.find('input[name="menu-name"]');
                    $menuName.val($span.text()).on('change keyup', function () {
                        $span.text(this.value || ' ');
                    });
                    $('.menu-editor .menu-content').html($html);
                    var type = $span.attr('data-type') || 'text';
                    $html.find('input[name="menu-type"]').on('click', function () {
                        $span.attr('data-type', this.value || 'text');
                        var content = $span.data('content') || '';
                        var menuname = $span.text();
                        var type = this.value;
                        var html = function () {
                            switch (type) {
                                case 'miniprogram':
                                    var tpl = '<div>\
                                                <div>appid<input style="display:block;margin-bottom:10px" class="form-control input-sm" value="{appid}" name="appid"></div>\
                                                <div>url<input style="display:block;margin-bottom:10px" class="form-control input-sm" value="{url}" name="url"></div>\
                                                <div>pagepath<input style="display:block" name="pagepath" class="form-control input-sm" value={pagepath}></div>\
                                            </div>';
                                    var _appid = '', _pagepath = '', _url = '';
                                    if (content.indexOf(',') > 0) {
                                        _appid = content.split(',')[0] || '';
                                        _url = content.split(',')[1] || '';
                                        _pagepath = content.split(',')[2] || '';
                                    }
                                    $span.data('appid', _appid), $span.data('url', _url), $span.data('pagepath', _pagepath);
                                    return tpl.replace('{appid}', _appid).replace('{url}', _url).replace('{pagepath}', _pagepath);
                                case 'customservice':
                                case 'text':
                                    return '<div>回复内容<textarea style="resize:none;height:225px" name="content" class="form-control input-sm">{content}</textarea></div>'.replace('{content}', content);
                                case 'view':
                                    return '<div>跳转地址<textarea style="resize:none;height:225px" name="content" class="form-control input-sm">{content}</textarea></div>'.replace('{content}', content);
                                case 'keys':
                                    var htm = '';
                                    htm += '<label class="col-xs-2 control-label" style="text-align:left;padding-left:0px;padding-right:0px">匹配内容</label>';
                                    htm += '<div class="col-xs-8">';
                                    htm += '<input name="content" class="form-control input-sm layui-input" value="{content}">';
                                    htm += '<a data-file="one" data-choosekeys class="btn btn-link">选择关键字</a>';
                                    htm += '</div>';
                                    return htm.replace('{content}', content);
                                case 'image':
                                    var _cover_id = '', _imgpath = '';
                                    _cover_id = content.split(',')[0] || '';
                                    _imgpath = content.split(',')[1] || "__IMAGES__/wechat/image.png";
                                    var htm = "";
                                    htm += '<input type="hidden" name="cover_id" value="{cover_id}">';
                                    htm += '<input type="hidden" name="imgpath" value="{imgpath}">';
                                    htm += '<p class="help-block">文件最大2Mb，支持bmp/png/jpeg/jpg/gif格式</p>';
                                    htm += '<img style="width:112px;height:auto;" data-tips-image src="' + _imgpath + '"/>';
                                    htm += '<a data-file="one" id="image_url" data-type="bmp,png,jpeg,jpg,gif" data-field="image_url" class="btn btn-link">上传图片</a>';
                                    $span.data('cover_id', _cover_id), $span.data('imgpath', _imgpath);
                                    return htm.replace('{cover_id}', _cover_id).replace('{imgpath}', _imgpath);
                                case 'event':
                                    var options = {
                                        'scancode_push': '扫码推事件',
                                        'scancode_waitmsg': '扫码推事件且弹出“消息接收中”提示框',
                                        'pic_sysphoto': '弹出系统拍照发图',
                                        'pic_photo_or_album': '弹出拍照或者相册发图',
                                        'pic_weixin': '弹出微信相册发图器',
                                        'location_select': '弹出地理位置选择器'};
                                    var select = [], tpl = '<label style="margin-right: 20px;margin-top:5px" class="font-noraml"><input class="cuci-radio" name="content" type="radio" {checked} value="{value}"> {title}</label>';
                                    for (var i in options) {
                                        select.push(tpl.replace('{value}', i).replace('{title}', options[i]).replace('{checked}', (i === content) ? 'checked' : ''));
                                    }
                                    return select.join('');
                                case 'system':
                                    var menus = JSON.parse('{$systemMenu}');
                                    var select = [], tpl = '<label class="font-noraml" style="margin-right: 20px;margin-top:5px"><input class="cuci-radio" data-menuname="{menuname}" name="content" type="radio" {checked} value="{value}"> {title}</label>';
                                    $.each(menus,function(){
                                         select.push(tpl.replace('{value}', this.content).replace('{menuname}', this.name).replace('{title}', this.name).replace('{checked}', (this.content === content && this.name === menuname) ? 'checked' : ''));
                                     })
                                    return select.join('');
                            }
                        }.call(this);
                        var $html = $(html), $input = $html.find('input,textarea');
                        $input.on('change keyup click', function () {
                            // 将input值写入到span上
                            $span.data(this.name, $(this).val() || $(this).html());
                            if(type === "system"){
                                $span.text($(this).data('menuname') || ' ');
                                $menuName.val($(this).data('menuname') || ' ');
                            }
                            // 如果是小程序，合并内容到span的content上
                            if (type === 'miniprogram') {
                                $span.data('content', $span.data('appid') + ',' + $span.data('url') + ',' + $span.data('pagepath'));
                            }
                        });
                        $('.editor-content-input').html($html);
                    }).filter('input[value="{type}"]'.replace('{type}', type)).trigger('click');
                }
            };
            /**
             * 提交数据
             * @returns {undefined}
             */
            menu.prototype.submit = function () {
                var data = [];
                function getdata($span) {
                    var menudata = {};
                    menudata.name = $span.text();
                    menudata.type = $span.attr('data-type');
                    menudata.content = $span.data('content') || '';
                    return menudata;
                }

                $('li.parent-menu').map(function (index, item) {
                    if (!$(item).hasClass('menu-add')) {
                        var menudata = getdata($(item).find('a:first span'));
                        menudata.index = index + 1;
                        menudata.pindex = 0;
                        menudata.sub = [];
                        menudata.sort = index;
                        data.push(menudata);
                        $(item).find('.sub-menu ul li:not(.menu-add) span').map(function (ii, span) {
                            var submenudata = getdata($(span));
                            submenudata.index = (index + 1) + '' + (ii + 1);
                            submenudata.pindex = menudata.index;
                            submenudata.sort = ii;
                            data.push(submenudata);
                        });
                    }
                });
                dosubmit('{:url("edit")}', {data: data}, 'POST');
            };
            /**
             * 实例菜单控件
             */
            var m = new menu();
           /**
           * 选择关键字
           */    
            $('body').on('click', '[data-choosekeys]', function () {
                var $span = m.$btn.find('span');
                var html = "";
                html += '<div style="width:100%;text-align:left;">'
                html += '<form class="layui-form" action="">';
                html += '<div class="layui-form-item">';
                html += '<div class="layui-inline">';
                html += '<label class="layui-form-label" style="width:30%">关键字</label>';
                html += '<div class="layui-input-block" style="margin-left:80px">';
                html += '<input type="text" data-keys lay-verify="title" autocomplete="off" placeholder="请输入关键字进行查找" class="layui-input">';
                html += '</div>';
                html += '</div>';
                html += '<div class="layui-inline">';
                html += '<label class="layui-form-label" style="width:30%"></label>';
                html += '<div class="layui-input-block" style="margin-left:80px">';
                html += ' <a class="layui-btn layui-btn-sm" data-chooseKeysBtn>查询</a>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</form>';
                html += '<hr class="layui-bg-green">';
                html += '<div style="width:100%;" class="chooseKeys">数据加载中.....</div>';
                html += '</div>';
                html += '<hr class="layui-bg-green" style="margin-bottom:50px">';
                html += '<div style="width:100%;position: absolute;;right: 0;bottom: 0;height: 44px;line-height: 44px;padding: 0 15px;">';
                html += '<input type="hidden">'
                html += '<a class="layui-btn layui-btn-sm" data-dosubmit>确定</a>';
                html += '</div>';
                var cindex = layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['700px', '450px'], //宽高
                    title: '请选择关键字',
                    content: '<div style="width:688px;padding:10px;text-align:center;">' + html + '</div>'
                });
                setTimeout(function () {
                    $('[data-chooseKeysBtn]').trigger('click')
                    $('[data-dosubmit]').click(function () {
                        var keys = $('input[name=rkeys]:checked').val();
                        if (typeof keys == "undefined") {
                            layer.msg('请选择关键字')
                        } else {
                            $('input[name=content]').eq(0).val(keys)
                            $span.data('content', keys);
                            layer.close(cindex);
                        }
                    })
                }, 300)
            })

            $('body').on('click', '[data-chooseKeysBtn]', function () {
                var keys = $(this).closest('form').find('input[data-keys]').eq(0);
                loading(function(ind){
                    $.ajax({
                    url: '{:url("_choseKeys")}',
                    data: {keys: keys.val()},
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        closeLoading(ind);
                        var html = "";
                        $.each(data.data, function () {
                            html += '<label class="col-xs-3 font-noraml">';
                            html += '<input class="cuci-radio" type="radio" name="rkeys" value="' + this + '" data-radioKeys> ' + this;
                            html += '</label>';
                        })
                        $('.chooseKeys').html(html);
                    }
                })
              });
            })
        });

        /**
         * 通用表单提交(AJAX方式)
         */
        function dosubmit(url, data, type) {
            //加载层-风格4
            var index_msg = layer.load('', {
                shade: 0.2
            });
            $.ajax({
                url: url,
                type: type,
                data: data,
                success: function (info) {
                    if (info.code === 1) {
                        setTimeout(function () {
                            layer.close(index_msg);
                            layer.msg(info.msg);
                        }, 1000);
                    } else {
                        setTimeout(function () {
                            layer.close(index_msg);
                            layer.msg(info.msg);
                        }, 1000);
                    }
                }
            });

            return false;
        }
        ;
        function cancel(url, data, type) {
            layer.open({
                shade: false,
                content: '确定取消吗？取消后公众号菜单将失效',
                btn: ['确定', '取消'],
                yes: function (index) {
                    layer.close(index);
                    //加载层-风格4
                    var index_msg = layer.load('', {
                        shade: 0.2
                    });
                    $.ajax({
                        url: url,
                        type: type,
                        data: data,
                        success: function (info) {
                            if (info.code === 1) {
                                setTimeout(function () {
                                    layer.close(index_msg);
                                    layer.msg(info.msg);
                                }, 1000);
                            } else {
                                setTimeout(function () {
                                    layer.close(index_msg);
                                    layer.msg(info.msg);
                                }, 1000);
                            }
                        }
                    });
                }
            });
        }
</script>
{/block}