{extend name="base" /}
{block name="css"}
<style>
    .layui_icon{text-align: center;background: #2f4554;width: 20%;line-height: 56px;float: left;color: #fff;font-size: 25px;padding: 15px 10px 5px;}
    .layui_ft{text-align: left;background: #fff;line-height: 56px;float: left;padding: 10px;width: 60%;}
    .layui_ft h4{width: 100%;text-align: left;padding-left: 10px;font-size: 25px;font-weight: 700;line-height: 30px;margin-top:5px;}
    .layui_ft p{width: 100%;text-align: left;padding-left: 10px;font-size:15px;line-height: 25px;}
</style>
{/block}
{block name="body"}
<div class="layui-body">
    </div>
{/block}