{extend name="base" /}
{block name="css"}
<style type="text/css">

</style>
{/block}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li><a href="{:url('ActivityData/index',['act_id'=>$input_data.act_id])}">拼团管理</a></li>
                <li> <a href="{:url('ActivityData/rplist',['act_id'=>$input_data.act_id])}">红包管理</a> </li>
                <li> <a href="{:url('ActivityData/visitlist',['act_id'=>$input_data.act_id])}">浏览管理</a> </li>
                <li class="layui-this"> <a href="{:url('ActivityData/refuserlist',['act_id'=>$input_data.act_id])}">老师管理</a> </li>
            </ul>
        </div>

        <div class="layui-tab-content">
            <blockquote class="layui-elem-quote">
                <form class="layui-form layui-form-pane" action="{:url('')}" method="get" id="search">

                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" name="keywords" value="{$input_data.keywords|default=''}" placeholder="--昵称,用户,手机号--" class="layui-input">
                        </div>
                    </div>

                    <br/>
                    <div class="layui-inline">
                        <label class="layui-form-label">日期时间范围</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" class="layui-input" name='search_time' id="search_time"
                                   value="{$input_data.search_time|default=''}" placeholder="请选择日期和时间">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                    </div>
                    <div class="layui-inline">
                        <!--<button class="layui-btn layui-btn-sm"><i class="fa fa-file" aria-hidden="true"></i>导出</button>-->
                    </div>
                    <input type="hidden" name="act_id" value="{$input_data.act_id}">

                </form>
            </blockquote>

            <div class="layui-tab-item layui-show"  data-form-parent>
                 {include file="activity_data/refuserlstajax"/}
            </div>
        </div>
    </div>
</div>


{/block}

{block name="script"}
<script>

    laydate.render({
        elem: '#search_time'
        , type: 'date'
        , range: true
    });
</script>
{/block}